<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>systemMsg</key>
	<string>HMSystemMessageVC</string>
	<key>MDetails</key>
	<string>MyBalanceTransactionRecordTVC</string>
	<key>hongbao</key>
	<string>HMRedBagVC</string>
	<key>couponList</key>
	<string>HCounponListVC</string>
	<key>selectCity</key>
	<string>HMSelectCityVC</string>
	<key>payment</key>
	<string>HPaymentVC</string>
	<key>vipcard</key>
	<string>VIPCardTVC</string>
	<key>setPswd</key>
	<string>ChangePasswordViewController</string>
	<key>changepass</key>
	<string>ChangePasswordViewController</string>
	<key>changePayPswd</key>
	<string>ChangePasswordViewController</string>
	<key>sysmessagelist</key>
	<string>HSystemMesssageList</string>
	<key>activitylist</key>
	<string>HActivityMessageList</string>
	<key>userinfo</key>
	<string>HMUserInfoViewController</string>
	<key>fitness</key>
	<string>FitnesViewController</string>
	<key>feedback</key>
	<string>FeedbackVC</string>
	<key>setup</key>
	<string>SetUpTableViewController</string>
	<key>consume</key>
	<string>PaymentDocumentTVC</string>
	<key>htmlpage</key>
	<string>HMHTMLViewController</string>
	<key>recharge</key>
	<string>RechargeTableViewController</string>
	<key>guestcenter</key>
	<string>HMGuestViewController</string>
	<key>scancode</key>
	<string>HScanCodeVC</string>
	<key>videodetial</key>
	<string>HVideoDetialVC</string>
	<key>meirong</key>
	<string>HMYiMeiViewController</string>
	<key>videolist</key>
	<string>HVideoListVC</string>
	<key>serverdetail</key>
	<string>serveDetiaViewController</string>
	<key>search</key>
	<string>HSearchVC</string>
	<key>mall_quality</key>
	<string>HSelectedBrandGoodsVC</string>
	<key>mall_gooddetail</key>
	<string>HMShopMallGoodsDetailVC</string>
	<key>mall_best_buy</key>
	<string>HShopMallAllKindGoodsContainerVC</string>
	<key>login</key>
	<string></string>
	<key>register</key>
	<string></string>
	<key>qrCode</key>
	<string>HMQRCodeDetailVC</string>
	<key>logistics</key>
	<string>HMLogisticsVC</string>
	<key>mallOrderDetail</key>
	<string>HMShopMallOrderDetailVC</string>
	<key>addCommentPage</key>
	<string>HMShopMallCommitCommentVC</string>
	<key>serviceCommentPage</key>
	<string>HMUserCommitViewController</string>
	<key>orderDetail</key>
	<string>HMNewOrderDetailVC</string>
	<key>serviceOrderDetail</key>
	<string>HMOrderDetialViewController</string>
	<key>orderList</key>
	<string>HMShopOrderVC</string>
	<key>oldOrderList</key>
	<string>MyOrderViewController</string>
	<key>renewEMember</key>
	<string>HMRenewEMemberVC</string>
	<key>AccountFlowRecord</key>
	<string>HMAccountFlowRecordVC</string>
	<key>ShopAskForWithdraw</key>
	<string>HMShopAskForWithdrawVC</string>
	<key>ShopWithdrawList</key>
	<string>HMShopWithdrawListVC</string>
	<key>ShopWithdrawDetail</key>
	<string>HMShopWithdrawDetailVC</string>
	<key>ChargeableFuncList</key>
	<string>HMChargeableFuncListVC</string>
	<key>payFunctionDetail</key>
	<string>HMChargeableFuncDetailVC</string>
	<key>ShopPublishNotice</key>
	<string>HMShopPublishNoticeVC</string>
	<key>SecretInfo</key>
	<string>HMSecretInfoVC</string>
	<key>ShopActiovity</key>
	<string>HMShopActiovityVC</string>
	<key>RedBottleFindDetail</key>
	<string>HMRedBottleFindDetailVC</string>
	<key>CommunityHome</key>
	<string>HMCommunityHomeVC</string>
	<key>profit</key>
	<string>HMMineEarningsVC</string>
	<key>friends</key>
	<string>HMUserShareFriendsVC</string>
	<key>yueba</key>
	<string>AppointmentViewController</string>
	<key>community</key>
	<string>HMRedBottleCommunityVC</string>
</dict>
</plist>
