<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key1</key>
	<string>FZTestOneViewController</string>
	<key>key2</key>
	<string>FZTestTwoViewController</string>
	<key>key3</key>
	<string>FZTestThreeViewController</string>
	<key>key4</key>
	<string>FZTestFourViewController</string>
	<key>key5</key>
	<string>FZFiveViewController</string>
	<key>key6</key>
	<string>FZSixViewController</string>
</dict>
</plist>
